@import "../../global.css";

#header-component {
    width: 100%;
    height: fit-content;
    background-color: rgb(241, 241, 241);
    margin: 0px;
    padding: 0px;

    .logo-wrapper {
        font-size: 0.8rem;
        margin: 0;
        padding: 14px 50px;

        h1 {
            line-height: 1.6rem;
            margin: 0;
        }
    }
}