@import "../../global.css";

#nav-wrapper {
    height: calc(100vh - 1.6rem - 28px);
    padding: 0;
    margin: 0;
    display: flex;
    width: fit-content;
    background-color: var(--main-color-darker);
    border-right: 4px solid var(--main-color-light);

    #anchors-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 50px 0px;

        .anchor-nav {
            font-size: var(--text-size-s);
            color: var(--main-fore-color);
            padding: 12px 40px;
            transition: all 0.2s ease;
            border-top: 1px solid var(--main-color-dark);
            border-bottom: 1px solid var(--main-color-dark);
        }

        .anchor-nav:hover {
            transition: all 0.2s ease;
            filter: brightness(0.4);
            background-color: var(--main-color-darker);
        }
    }
}

* {
    font-family: "Inter", sans-serif;
}