<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>This is the home page!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Porro animi cum, doloremque impedit mollitia pariatur <br>
            officia, veniam voluptatum voluptate expedita iure? Fuga, <br>
            quam sed aperiam debitis dolorum voluptatibus illo architecto <br>
            eligendi quos modi facilis quaerat vero quisquam sint <br>
            asperiores odio provident quod omnis dicta dolore veniam <br>
            sapiente ipsa! Blanditiis, deserunt.</p>
            <!-- <button>Test</button> -->
            <a href="/about">Test me</a>
    </body>
</html>